* {
  box-sizing: border-box;
  font-family: Poppins , sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

:root {

  --accent-color: #c31815;

  --black: #0f0f0f;

  --button-color : #05d465;

  --button-hover-color : #2ae27d;

  --header-bg: #0e0e0ed9;

  --smoke: #e5e5e5;

  --ice: #f0f9fa;

  --smoke-transparent: #e5e5e5d9;


  --text-color: #2a2a2a;
}

body {
  background-color: var(--smoke);
  height: 100vh;
  width: 100%;
}

  * {
    scrollbar-width: auto;
    scrollbar-color: #05d464 #ffffff;
  }

  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #05d464;
    border: 3px solid #ffffff;
    border-radius: 10px;
  }